body {
    font-family: Arial, sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: gray;
    
  }
  h1.font{
    color: white;
  }
  #color{
    color: white;
  }

  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  section {
    padding: 20px;
  }
  
  #proyectos {
    display: flex;
    flex-direction: column;
  }
  
  .proyectos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
  }
  
  .proyecto {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  
  
  
  form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
  }  

  #c3 {
    display: flex;
    height: 150%;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
  }